:root {
    --blue: rgb(9 10 27);
    --lightBlue: rgb(35, 61, 118);
    --white: rgb(240 240 240);
    --gray: rgb(88 87 105);
    --score: rgb(94 103 170);
}


* {
    padding: 0;
    margin: 0;
}
.column{
    flex-direction: column;
}
.full-width{
    width: 100%;
}
.flex{
    display: flex;
}
.container{
    max-height: 100vh;
    overflow: hidden;
}
